.reveal .slide-number {
	position: fixed;
	display: block;
	right: 8px;
	bottom: 8px;
	z-index: 31;
	font-family: font(heading, lighter);
	font-size: 12px;
	line-height: 1;
	color: gray(0);
	background-color: rgba( gray(100), 0.4 );
	padding: 5px;
  mix-blend-mode: overlay;
}

.reveal .slide-number-delimiter {
	margin: 0 3px;
}
