$base:    gray(10);
$mono-1:  gray(20);
$mono-2:  gray(30);
$mono-3:  gray(40);
$hue-1:   color(pink);
$hue-2:   color(blue);
$hue-3:   color-code(warning);
$hue-4:   color-code(success);
$hue-5:   color(gray);


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: gray(20);
  background: gray(88);
}

.hljs-comment,
.hljs-quote {
  color: $hue-5;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: $hue-3;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: $hue-1;
}

.hljs-literal {
  color: $mono-1;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: $hue-4;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: $hue-1;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: $mono-3;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: $hue-2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
