// LINKS
a {
  color: color(blue);
  text-decoration: none;
  transition: color .15s ease;
}

a:hover {
  color: color(pink);
  text-shadow: none;
  border: none;
}

.roll span:after {
  color: gray(0);
  background: color(gray);
}
