.grid {
  display: grid !important;
  align-items: stretch;
}

.grid-1-2 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
}

.grid-1-3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.grid-center {
  align-items: center;
}
