.util-full-width {
  width: 100% ;
}

.util-left {
  text-align: left;
}

.util-center {
  text-align: center;
}

.util-right {
  text-align: right;
}

.flex-row {
  flex-direction: row;
}

.flex-stretch {
  align-items: stretch;
}

.util-blue {
  color: color(blue) !important;
}

.util-gray {
  color: color(gray) !important;
}
