// Font Stacks
$body: Lato, "Hevetica Neue", Helvetica, Arial, sans-serif;
$code: "Ubuntu Mono", monospace;

// Font Maps
$fonts: (
  heading: $body,
  body: $body,
  code: $code
);

$heading-weight: (
  lighter: 600,
  bolder: 800
);

$body-weight: (
  lighter: 400,
  bolder: 600
);

$code-weight: (
  lighter: 400,
  bolder: 700
);

// Font Functions
@function font-family($family:body) {
  @return map-get($fonts, $family);
}

@function font-weight($family:body, $weight:lighter) {
  @if $family == heading {
    @return map-get($heading-weight, $weight);
  }
  @if $family == body {
    @return map-get($body-weight, $weight);
  }
  @if $family == code {
    @return map-get($code-weight, $weight);
  }
}

// Font Mixin
@mixin font($family:body, $weight:lighter) {
  font-family: font-family($family);
  font-weight: font-weight($family, $weight);
}
