<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Intermediate HTML/CSS &amp; Intro to Responsive Design &hearts; Girl Develop It Boulder</title>

    <meta name="description" content="">
    <meta name="author" content="Cara Jo Miller, adapted by Lisa Smith">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/gdi.css">

		<!-- Theme used for syntax highlighting of code -->
		<!-- <link rel="stylesheet" href="lib/css/atom-one-dark.css"> -->

    <!-- Google Fonts: Lato and Ubuntu Mono -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Ubuntu+Mono:400,400i,700,700i" rel="stylesheet">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
  <body>
    <div class="reveal">
      {{!-- Any section element inside of this container is displayed as a slide --}}
      <div class="slides">
        {{{ body }}}
      </div>
    </div>
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>
    {{> _revealInitializer }}
  </body>
</html>
